<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图片详情</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="./photo_detail.css">
</head>

<body>
    <div class="container">
        <div class="photo-container">
            <img id="photo-box" class="photo-box">
            &lt;!&ndash; 如果是只有一张图片，则隐藏 &ndash;&gt;
            <div id="last-btn" class="last-btn">
                <i class="layui-icon layui-icon-left" style="font-size: 20px;"></i>
            </div>
            <div id="next-btn" class="next-btn">
                <i class="layui-icon layui-icon-right" style="font-size: 20px;"></i>
            </div>
            &lt;!&ndash; 显示图片名 &ndash;&gt;
            <div id="photo-name" class="photo-name">
                <span id="pname">图片名</span>
            </div>
        </div>
        <div id="preview" class="preview-container">
            &lt;!&ndash; 显示缩略图列表 &ndash;&gt;
            <ul id="preview-list" class="preview-list"></ul>
        </div>
    </div>
    <script src="./photo_detail.js"></script>
</body>

</html>-->
