<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>加速度数据</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="./data_page.css">
</head>

<body>
    <div class="container">
        <div class="layui-card">
            <div class="layui-card-header">
                <span>筛选</span>
            </div>
            <div class="layui-card-body">
                <table class="screening-table">
                    <tr>
                        <td style="width: 60px; min-width: 60px;">
                            <span>时间段</span>
                        </td>
                        <td>
                            <input type="text" class="layui-input input-box" id="time-date">
                        </td>
                        <td style="width: 60px; min-width: 60px;">
                            <span>桩号区间</span>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="layui-input" style="float:left; width: 45%;" id="number-start">
                            <div style="float: left; width: 10%; height: 38px;line-height: 38px;text-align: center;">-</div>
                            <input type="text" autocomplete="off" class="layui-input" style="float:right; width: 45%;" id="number-end">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td style="width: 60px; min-width: 60px;">
                            <span>坝段区间</span>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="layui-input" style="float:left; width: 45%;" id="section-start">
                            <div style="float: left; width: 10%; height: 38px;line-height: 38px;text-align: center;">-</div>
                            <input type="text" autocomplete="off" class="layui-input" style="float:right; width: 45%;" id="section-end">
                        </td>
                        <td style="width: 60px; min-width: 60px;">
                            <span>仓面区间</span>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="layui-input" style="float:left; width: 45%;" id="plane-start">
                            <div style="float: left; width: 10%; height: 38px;line-height: 38px;text-align: center;">-</div>
                            <input type="text" autocomplete="off" class="layui-input" style="float:right; width: 45%;" id="plane-end">
                        </td>
                    </tr> -->
                    <tr>
                        <td colspan="5" align="center">
                            <button id="show-btn" class="layui-btn">查询</button>
                            <button id="clear-btn" class="layui-btn layui-btn-normal">清除筛选</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <span>表格</span>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <thead>
                        <tr>
<!--                            <th>图片名</th>-->
                            <th>时间</th>
                            <th>内部桩号</th>
                            <th>加速度</th>
                            <th>累计加速度</th>
                        </tr>
                    </thead>
                    <tbody id="message-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../../layuiadmin/layui/layui.js"></script>
    <script src="./acceleration.js"></script>
    <script>
    </script>
</body>

</html>